<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>React on Meli!</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/chico-mobile.css">
  </head>
  <body>
    <div id="root">
      <h1>Esto se está cargando primero</h1>

      <await(data from data.getItems)>
        <meta name="state" id="state" content="${data.state}">
        <div>
          $!{data.html}
        </div>
      </await>

      <h1>Esto se está cargando después</h1>
    </div>
    <!--script src="./js/bundle.js"></script-->
  </body>
</html>
