<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>React on Meli!</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/chico-mobile.css">
  </head>
  <body>
    <await(data from data.getItems)>
      <meta name="state" id="state" content="${data.state}">
      <div id="root">
        $!{data.html}
      </div>
    </await>
    <script src="./js/bundle.js"></script>
  </body>
</html>
