doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="state", id="state" content=JSON.stringify(state))
    title React on Meli!
    link(rel='stylesheet', href='./css/normalize.css')
    link(rel='stylesheet', href='./css/chico-mobile.css')
  body
    #root
      !=html
    script(src='./js/bundle.js')
